@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;800&family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Artifika&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Artifika&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Artifika&family=Sacramento&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slideLeft {
  animation-name: slideLeft;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination a {
  color: #333;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #ddd;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #e7f9eb;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: #ddd;
}

.active {
  & a {
    color: #fff;
    background: #033514;
  }
}

.productGridButtonClass {
  transition: box-shadow 0.3s ease;
}

.productGridButtonClass:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
